@use '../Abstracts' as lib;

// =================
// ===== Image =====
// =================

.image {
  display: table;
  margin: 0;

  &:not(:last-child) {
    margin-block-end: lib.$size-24;
  }

  &__image {
    display: block;
    width: auto;
    border-radius: 0.4rem;
  }

  &__link {
    display: block;
    border-radius: 0.4rem;
  }

  &__caption {
    display: table-caption;
    margin-block: lib.$size-8;
    color: lib.$var-text-light;
    caption-side: bottom;
    font-size: lib.$font-small-size-fluid;
    line-height: 1.2;
  }
}
