@use '../Abstracts' as lib;

// =============================
// ===== Tables Stylesheet =====
// =============================

figure.table {
  overflow-x: auto;
  max-width: 100%;
  margin-block: 1.5em;
  margin-inline: 0;
}

table {
  width: 100%;
  margin-inline: 0;
  border: 0.1rem solid lib.$var-table-border;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: start;

  th {
    font-weight: bold;
  }

  th,
  td {
    padding: 1rem;
    border-inline-end: 1px solid lib.$var-table-border;
    border-block-end: 1px solid lib.$var-table-border;
  }

  tr:nth-child(even) {
    background-color: lib.$var-table-shade;
    color: lib.$var-table-text;
  }
}
